<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-6 justify-content-center">
                <form (submit)="onCreateNewTask()" class="form simple-form text-center">

                    <label for="taskName" class="form-label w-25 text-center">Name</label>
                    <input name="taskName" type="text" id="taskName" placeholder="New task name"
                        class="input-group w-25 form-control" [(ngModel)]="newTask.taskName">
                    <label for="description" class="form-label w-25">Description</label>
                    <input name="description" type="text" id="description" placeholder="New description"
                        [(ngModel)]="newTask.description" class="input-group form-control w-25">
                    <label for="type" class="form-label w-25">Type</label>
                    <select name="type" id="type" class="inpw-25 form-control" [(ngModel)]="newTask.type"
                        placeholder="ToDo">
                        <option value="event" class="w-25 text-center">Event</option>
                        <option value="todo" class="w-25 text-center">ToDo</option>
                        <option value="shoppingList" class="w-25 text-center">Shopping List
                        </option>
                    </select>

                    <button class="btn btn-success" type="submit">Create new Task</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="#" class="list-group-item clearfix" *ngFor="let task of tasks">
                <div class="pull-right">
                    <h4 class="list-group-item-heading">Task name: {{ task.taskName }}</h4>
                    <p class="list-group-item-text">Description: {{ task.description }}</p>
                    <p class="list-group-item-text">Type: {{ task.type }}</p>
                </div>
                <button class="btn btn-danger" (click)="onDeleteTask(task)">Delete</button>
                <app-events *ngIf="task.type=='event'" [preparations]="task.preparations"></app-events>
                <app-todos *ngIf="task.type=='todo'" [steps]="task.steps"></app-todos>
                <app-shoppings *ngIf="task.type=='shoppingList'" [products]="task.products"></app-shoppings>
            </a>
        </div>
    </div>
</div>