<form type="submit" method="api/post" action="login">
    <div class="row g-3 align-items-center">
        <div class="col-auto"><label class="col-form-label" for="email">Email</label></div>
        <div class="col-auto"><input class="inputPassword6 form-control" name="email" id="email" type="email"
                aria-describedby="passwordHelpInline"></div>
        <div class="col-auto"><span class="passwordHelpInline form-text">Must be 8-20 characters long.</span></div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-auto"><label class="col-form-label" for="password">Password</label></div>
        <div class="col-auto"><input class="inputPassword6 form-control" name="password" id="password" type="text"
                aria-describedby="passwordHelpInline"></div>
        <div class="col-auto"><span class="passwordHelpInline form-text">Must be 8-20 characters long. </span></div>
    </div><button class="btn btn-primary" type="submit">Login</button>
</form>